*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
app/src/test/java/com/swi/remotecontrol/ExampleUnitTest.java
gradlew.bat
.idea/.gitignore
.idea/
app/.gitignore
app/src/androidTest/java/com/swi/remotecontrol/ExampleInstrumentedTest.java
gradlew
gradle.properties
